.isPcBody { margin: 0;
    font-family: Arial, sans-serif;
  }
  
 
  
  .nav-item  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 10px; /* Espacio entre los ítems del menú */
  
  
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  
  
  
    text-decoration: underline;
  

  }
  .button {
    background-color: #333;
    color: #fff;
    padding: 10px;


  }


    
